html,body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;} 
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(230, 175, 124);
}