h1 {
    font-family: 'Noto Sans JP', sans-serif;
    position: relative;
    left: 25%;
    margin-left: 20px;
    padding: 10px;
}

ul {
    display: inline-block;

}

.press {
font-family: Georgia, 'Times New Roman', Times, serif;
position: relative;
transform: translate(-50%, -50%);
left: 10%;
height: 2.5rem;
width: 8rem;
border-radius: 20px 20px;
box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
margin-top: 40px;
}

.li-home {
    display: inline;
    list-style: none;
    font-size: 20px;
    color: whitesmoke;
    position: relative;
}

#homebutton {
    left: 20px;
    padding: 10vh;
    top: 10px;
}

#aboutbutton {
left: 800px;
top: 10px;
}

#contactbutton {
    left: 850px;
    top: 10px;
}


a:link {
    color: rgb(255, 255, 255);

}

a:active {

   color:rgb(0, 68, 80);
}
a:hover {
    color:rgb(0, 68, 80);
     

}
a:visited {
       color: black;
}

img {
    position: relative;
    left: 125px;
    margin-left: 10px;
    height: 400px;
    margin-bottom: 40px;
    margin-top: 40px;

}
