.footer {
  margin-top: 1rem;
  box-shadow: 1rem 1rem grey;
  background-color: aquamarine;
  height: 10rem;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }

.footer-nav-li {
  display: flex;
  flex-direction: column; }

.footer-nav-li > a {
  text-decoration: none; }

html, body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

body {
  background-color: #e6af7c; }

h1 {
  font-family: 'Noto Sans JP', sans-serif;
  position: relative;
  left: 25%;
  margin-left: 20px;
  padding: 10px; }

ul {
  display: inline-block; }

.press {
  font-family: Georgia, 'Times New Roman', Times, serif;
  position: relative;
  transform: translate(-50%, -50%);
  left: 10%;
  height: 2.5rem;
  width: 8rem;
  border-radius: 20px 20px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
  margin-top: 40px; }

.li-home {
  display: inline;
  list-style: none;
  font-size: 20px;
  color: whitesmoke;
  position: relative; }

#homebutton {
  left: 20px;
  padding: 10vh;
  top: 10px; }

#aboutbutton {
  left: 800px;
  top: 10px; }

#contactbutton {
  left: 850px;
  top: 10px; }

a:link {
  color: white; }

a:active {
  color: #004450; }

a:hover {
  color: #004450; }

a:visited {
  color: black; }

img {
  position: relative;
  left: 125px;
  margin-left: 10px;
  height: 400px;
  margin-bottom: 40px;
  margin-top: 40px; }

p {
  position: relative;
  left: 85px;
  background-color: thistle;
  font-size: 18px;
  border-color: black;
  border-style: solid;
  border-width: thick;
  padding: 20px;
  overflow: hidden;
  width: 1100px; }

.listorna {
  margin: 20px;
  display: inline-block;
  font-family: Georgia, Times, 'Times New Roman', serif;
  list-style: square; }

.lista {
  font-family: Georgia, Times, 'Times New Roman', serif;
  width: 150px;
  border-left: 2px solid whitesmoke;
  border-right: 2px solid whitesmoke;
  padding: 3px; }

.lista2 {
  width: 300px;
  border-left: 2px solid whitesmoke;
  border-right: 2px solid whitesmoke;
  padding: 3px; }

.lista3 {
  width: 200px;
  border-left: 2px solid whitesmoke;
  border-right: 2px solid whitesmoke;
  padding: 3px; }

h3 {
  margin-left: 20px;
  padding: 10px; }

.flex-container {
  display: flex;
  height: 300px;
  justify-content: center;
  align-items: center; }

#trelistor {
  margin-left: 50px;
  margin-top: 70px;
  width: 430px; }
